c-tree-item.slds-tree-hidden
{
    visibility: hidden;
}

.slds-tree_container-horizontal
{
    max-width: none;
}

.slds-tree_container
{
    background-color: var(--ccnavmenus-brandNavigationBarBackgroundColor);
}

